/* Quiz Page */
.quizContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* Headline and Points */
  /* Question */
  /* Quit Button */
}
.quizContainer .header {
  width: 250px;
  height: 50px;
  border: 2px solid whitesmoke;
  color: black;
  background: rgb(255, 187, 0);
  border-radius: 10px;
}
.quizContainer .header p {
  padding: 5px 0px;
  text-align: center;
  font-size: 32px;
}
.quizContainer .questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  /* Answers Buttons */
  /* Result*/
}
.quizContainer .questionContainer .question {
  background: rgb(255, 187, 0);
  width: 325px;
  height: 100px;
  padding: 10px;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid whitesmoke;
  font-size: 21px;
}
.quizContainer .questionContainer .imgContainer {
  width: 350px;
  height: 240px;
  box-shadow: 7px 7px 10px #000000;
}
.quizContainer .questionContainer .imgContainer img {
  width: inherit;
  height: inherit;
}
.quizContainer .questionContainer .answersBtnContainer {
  display: grid;
  grid-template-areas: "buttonOne buttonTwo" "buttonThree buttonFour";
  grid-template-columns: 165px 165px;
  grid-template-rows: 80px 80px;
  gap: 15px;
}
.quizContainer .questionContainer .answersBtnContainer .answerBtn {
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(255, 187, 0);
  border: 2px solid whitesmoke;
  box-shadow: 0 9px #bbbbbb;
  transition: background-color 300ms linear;
}
.quizContainer .questionContainer .answersBtnContainer .answerBtn:active {
  background-color: rgb(255, 145, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.quizContainer .questionContainer .result button {
  width: 160px;
  height: 50px;
  border-radius: 10px;
  font-size: 28px;
  background-color: rgb(255, 187, 0);
  border: 2px solid whitesmoke;
  box-shadow: 0 9px #bbbbbb;
  transition: background-color 300ms linear;
}
.quizContainer .quit {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  font-size: 21px;
  background-color: rgb(255, 187, 0);
  box-shadow: 0 9px #bbbbbb;
  transition: background-color 300ms linear;
}
.quizContainer .quit:active {
  background-color: rgb(255, 145, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (min-width: 1024px) {
  /* Quiz Page */
  .quizContainer {
    /* Headline and Points */
    /* Question */
    /* Quit Button */
  }
  .quizContainer .header {
    width: 400px;
    height: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-self: self-start;
  }
  .quizContainer .header p {
    font-size: 32px;
  }
  .quizContainer .questionContainer {
    display: grid;
    grid-template-areas: "img question" "button button";
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 250px 250px;
    /* Answers Buttons */
  }
  .quizContainer .questionContainer .question {
    grid-area: question;
    width: 400px;
    height: 260px;
    font-size: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 7px 7px 10px #000000;
  }
  .quizContainer .questionContainer .imgContainer {
    grid-area: img;
    width: 400px;
    height: 260px;
    box-shadow: 7px 7px 10px #000000;
  }
  .quizContainer .questionContainer .imgContainer img {
    width: inherit;
    height: inherit;
  }
  .quizContainer .questionContainer .answersBtnContainer {
    grid-area: button;
    justify-content: center;
    grid-template-columns: 400px 400px;
    grid-template-rows: 100px 100px;
    gap: 20px;
  }
  .quizContainer .questionContainer .answersBtnContainer .answerBtn {
    font-size: 30px;
  }
  .quizContainer .questionContainer .answersBtnContainer .answerBtn:hover {
    background-color: rgb(255, 145, 0);
  }
  .quizContainer .questionContainer .result {
    width: 200px;
    grid-area: button;
    justify-self: center;
  }
  .quizContainer .questionContainer .result button {
    width: inherit;
  }
  .quizContainer .quit {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  .quizContainer .quit:hover {
    background-color: rgb(255, 145, 0);
    color: black;
  }
}/*# sourceMappingURL=Quiz.module.css.map */