$orange: rgb(255, 187, 0);
$border: 2px solid whitesmoke;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Quiz Page */
.quizContainer {
    @include flex();
    gap: 20px;

    /* Headline and Points */
    .header {
        width: 250px;
        height: 50px;
        border: $border;
        color: black;
        background: $orange;
        border-radius: 10px;
        p {
            padding: 5px 0px;
            text-align: center;
            font-size: 32px;
        }
    }

    /* Question */
    .questionContainer {
        @include flex();
        gap: 15px;

        .question  {
            background: $orange;
            width: 325px;
            height: 100px;
            padding: 10px;
            text-align: center;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border: $border;
            font-size: 21px;
        }

        .imgContainer {
            width: 350px;
            height: 240px;
            box-shadow: 7px 7px 10px #000000;
            img {
                width: inherit;
                height: inherit;
            }
        }

        /* Answers Buttons */
        .answersBtnContainer {
            display: grid;
            grid-template-areas: 
            "buttonOne buttonTwo"
            "buttonThree buttonFour";
            grid-template-columns: 165px 165px;
            grid-template-rows: 80px 80px;
            gap: 15px;

            .answerBtn {
                border-radius: 10px;
                font-size: 18px;
                background-color: $orange;
                border: $border;
                box-shadow: 0 9px #bbbbbb;
                transition: background-color 300ms linear;
                &:active {
                    background-color: rgb(255, 145, 0);
                    box-shadow: 0 5px #666;
                    transform: translateY(4px);
                }
            }
        }

        /* Result*/
        .result {
            button {
                width: 160px;
                height: 50px;
                border-radius: 10px;
                font-size: 28px;
                background-color: $orange;
                border: $border;
                box-shadow: 0 9px #bbbbbb;
                transition: background-color 300ms linear;
            }
        }
    }

   

    /* Quit Button */
    .quit {
        width: 120px;
        height: 50px;
        border-radius: 10px;
        border: $border;
        font-size: 21px;
        background-color:$orange;
        box-shadow: 0 9px #bbbbbb;
        transition: background-color 300ms linear;
        &:active {
            background-color: rgb(255, 145, 0);
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }

}

@media screen and (min-width: 1024px) {
    /* Quiz Page */
    .quizContainer {

        /* Headline and Points */
        .header {
            width: 400px;
            height: 50px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            align-self: self-start;
            p {
                font-size: 32px;
            }
        }

        /* Question */
        .questionContainer {
            display: grid;
            grid-template-areas:
            "img question"
            "button button";
            align-items: center;
            justify-content: center;
            grid-column-gap: 30px;
            grid-template-columns: 400px 400px;
            grid-template-rows: 250px 250px;

            .question  {
                grid-area: question;
                width: 400px;
                height: 260px;
                font-size: 30px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                box-shadow: 7px 7px 10px #000000;
            }

            .imgContainer {
                grid-area: img;
                width: 400px;
                height: 260px;
                box-shadow: 7px 7px 10px #000000;
                img {
                    width: inherit;
                    height: inherit;
                }
            }

            /* Answers Buttons */
            .answersBtnContainer {
                grid-area: button;
                justify-content: center;
                grid-template-columns: 400px 400px;
                grid-template-rows: 100px 100px;
                gap: 20px;

                .answerBtn {
                    font-size: 30px;
                    &:hover {
                        background-color: rgb(255, 145, 0);
                    }
                }
            }

            .result {
                width: 200px;
                grid-area: button;
                justify-self: center;
                button {
                    width: inherit;
                }
            }
        }

        /* Quit Button */
        .quit {
            position: absolute;
            bottom: 20px;
            right: 30px;
            &:hover {
                background-color: rgb(255, 145, 0);
                color: black;
            }
        }

    }
}