$orange: rgb(255, 187, 0);
$border: 2px solid whitesmoke;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin button {
    background-color: #ffc400;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 3rem;
    transform: rotate(-3deg);
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


    &:focus {
        outline: 0;
    }

    &:after {
        content: '';
        position: absolute;
        border: 2px solid #000000;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
    }

    &:hover:after {
        bottom: 2px;
        left: 2px;
    }

}

/* Quiz Page */
.quizContainer {
    @include flex();
    gap: 20px;

    /* Headline and Points */
    .header {
        width: 250px;
        height: 50px;
        margin: 10px;
        border: 2px solid black;
        color: black;
        background: $orange;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border: 2px solid #000000;
            bottom: 4px;
            left: 4px;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
        }

        p {
            padding: 5px 0px;
            text-align: center;
            font-size: 32px;
        }
    }

    /* Question */
    .questionContainer {
        @include flex();
        gap: 15px;

        

        .question  {
            background: $orange;
            width: 100%;
            padding: 10px;
            text-align: center;
            border: 2px solid black;
            font-size: 18px;
            font-weight: 700;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                border: 2px solid #000000;
                bottom: 4px;
                left: 4px;
                width: calc(100% - 1px);
                height: calc(100% - 1px);
            }
        }

        .imgContainer {
            width: 350px;
            height: 240px;
            margin: 15px;
            img {
                width: inherit;
                height: inherit;
                border: 5px solid black;
            }
        }

        /* Answers Buttons */
        .answersBtnContainer {
            display: grid;
            grid-template-areas: 
            "buttonOne buttonTwo"
            "buttonThree buttonFour";
            grid-template-columns: 165px 165px;
            grid-template-rows: 80px 80px;
            gap: 15px;

            .answerBtn {
               @include button();
            }
        }

        /* Result*/
        .result {
            button {
                width: 160px;
                height: 50px;
                border-radius: 10px;
                font-size: 28px;
                background-color: $orange;
                border: $border;
                box-shadow: 0 9px #bbbbbb;
                transition: background-color 300ms linear;
            }
        }
    }

   

    /* Quit Button */
    .quit {
       @include button();
       width: 250px;
    }

}

@media screen and (min-width: 1024px) {
    /* Quiz Page */
    .quizContainer {

        /* Headline and Points */
        .header {
            width: 400px;
            height: 50px;
            align-self: self-start;
            p {
                font-size: 32px;
            }
        }

        /* Question */
        .questionContainer {
            

            .question  {
                font-size: 30px;
            }

            .imgContainer {
                width: 80%;
                height: 250px;
                text-align: center;
                img {
                    width: inherit;
                    height: inherit;
                }
            }

            /* Answers Buttons */
            .answersBtnContainer {
                justify-content: center;
                grid-template-columns: 400px 400px;
                grid-template-rows: 100px 100px;
                gap: 20px;

                .answerBtn {
                    font-size: 30px;
                    &:hover {
                        background-color: rgb(255, 145, 0);
                    }
                }
            }

            .result {
                width: 200px;
                justify-self: center;
                button {
                    width: inherit;
                }
            }
        }

        /* Quit Button */
        .quit {
            align-self: flex-end;
            margin-top: 40px;
            &:hover {
                background-color: tomato;
                color: black;
            }
        }

    }
}