.page404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    margin: 15px;
    color: white;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 25px;
        text-align: center;
    }

    button {
        width: 120px;
        height: 50px;
        font-size: 21px;
        border-radius: 50px;
        background-color: rgb(255, 187, 0);
        box-shadow: 0 9px #bbbbbb;
        transition: background-color 300ms linear;
        &:hover {
            background-color: rgb(255, 145, 0);
            color: black;
        }
        &:active {
            background-color: rgb(255, 145, 0);
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}