$border: 2px solid black;

/* Question Info Page */
.questionsInfo {
    border: $border;
    background-color: black;
    width: 365px;
    height: 465px;

    .question {
        width: 360px;
        color: black;
        background: rgb(255, 187, 0);
        font-size: 21px;
       border-radius: 0px;
        box-shadow: unset;
        border: unset;
    }

    figure {
        width: 360px;
        height: 240px;
        img {
            width: inherit;
            height: inherit;
        }
    }

    /* Question Info Buttons */
    .answers {
        button {
            padding: 25px;
            width: 180.5px;
            font-size: 14px;
        }
    }
}